// rem
$rem1: 1rem;
$rem12: 1.2rem;
$rem15: 1.5rem;
$rem17: 1.7rem;
$rem2: 2rem;
$rem24: 2.4rem;
$rem3: 3rem;
$rem35: 3.5rem;
$rem4: 4rem;
$rem5: 5rem;
$rem6: 6rem;
$rem7: 7rem;
$rem05: 0.5rem;
$rem08: 0.8rem;
$rem09: 0.9rem;
$rem8: 8rem;
// color
$orange: #ffad33;
$black: #000;
$blue: #2684fe;
$pink: #ffaffe;
$whete: #FFE4BC;
// weight
    $weight1: 100;
    $weight2: 200;
    $weight3: 300;
    $weight4: 400;
    $weight5: 500;
    $weight6: 600;
    $weight7: 700;
    $weight8: 800;
    $weight9: 900;