@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #F5F3F4;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.always {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}
.always .always_box h1 {
  font-size: 5rem;
}
.always .always_box h3 {
  font-size: 1.6rem;
  color: #555;
  font-weight: 500;
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.always .always_box .btn {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  margin-bottom: 1rem;
}
.always .always_box .btn button {
  padding: 7px 25px;
  font-size: 1rem;
  background-color: #ffad33;
  border-radius: 20px;
  font-size: 1.2rem;
  border: none;
}
.always .always_box .btn p {
  text-align: start;
  font-size: 1.2rem;
  width: 30%;
  color: #555;
}
.always .always_box .alwat_img {
  gap: 3rem;
}
.always .always_box .alwat_img img {
  margin-left: 1rem;
  transition: all 0.2s ease;
}
.always .always_box .alwat_img img:hover {
  transform: translateY(-4px);
}
.always .always_box .alwat_img img:active {
  transform: translateY(4px);
}

@media screen and (max-width: 600px) {
  .always {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 4rem;
  }
  .always .always_box {
    margin-top: 2rem;
  }
  .always .always_box h1 {
    font-size: 2rem;
  }
  .always .always_box h3 {
    font-size: 1rem;
    color: #555;
    font-weight: 500;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .always .always_box .btn {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: start;
  }
  .always .always_box .btn button {
    padding: 10px 25px;
    font-size: 1rem;
    background-color: #ffad33;
    border-radius: 20px;
    font-size: 1.2rem;
    border: none;
  }
  .always .always_box .btn p {
    text-align: start;
    font-size: 1rem;
    width: 100%;
    color: #555;
  }
  .always .always_box .alwat_img {
    gap: 3rem;
  }
  .always .always_box .alwat_img img {
    transition: all 0.2s ease;
    margin-left: 1rem;
  }
  .always .always_box .alwat_img img:hover {
    transform: translateY(-4px);
  }
  .always .always_box .alwat_img img:active {
    transform: translateY(4px);
  }
  .always .alway_imgs {
    width: 100%;
  }
}
header {
  /* Responsive uchun: asosiy navbar menyuni yashiramiz */
}
header .navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}
header .navbar .home {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 200;
}
header .navbar .navbar_menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}
header .navbar button {
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border: #000;
  cursor: pointer;
  transition: all 0.4s ease;
}
header .navbar button:hover {
  transform: translateY(-4px);
  box-shadow: 0px 0px 10px #000;
}
header .navbar button:active {
  transform: translateY(4px);
}
header .navbar i {
  display: none;
}
header .sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  /* Dastlab yashirin bo‘ladi */
  width: 250px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.4s ease;
  z-index: 1000;
  padding: 20px;
}
header .sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 60px;
}
header .sidebar ul li {
  margin: 20px 0;
  font-size: 18px;
  cursor: pointer;
}
header .sidebar.active {
  right: 0;
  /* Chiqariladi */
}
@media (max-width: 768px) {
  header .navbar_menu_box {
    display: none;
  }
  header #menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
}
header .close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  header .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    align-items: center;
  }
  header .navbar .home {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 200;
  }
  header .navbar .navbar_menu {
    display: none;
  }
  header .navbar button {
    display: none;
  }
  header .navbar i {
    display: block;
    font-size: 30px;
    transition: all 0.4s ease;
  }
  header .navbar i:hover {
    transform: translateY(-4px);
  }
  header .navbar i:active {
    transform: translateY(4px);
  }
}
.select {
  text-align: center;
  margin-top: 6rem;
}
.select h1 {
  color: #000;
  font-size: 3rem;
  margin-top: 3rem;
}
.select .hover-text span {
  display: inline-block;
  transition: transform 0.3s ease;
  cursor: default;
}
.select .hover-text span:hover {
  transform: translateY(-4px);
}
.select h2 {
  color: #888484;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 3rem;
  text-decoration: line-through;
  text-decoration-thickness: 4px;
}

@media screen and (max-width: 600px) {
  .select {
    width: 90%;
    text-align: center;
    margin-top: 5rem;
  }
  .select h1 {
    color: #000;
    font-size: 2rem;
    margin-top: 1rem;
  }
  .select .hover-text span {
    display: inline-block;
    transition: transform 0.3s ease;
    cursor: default;
  }
  .select .hover-text span:hover {
    transform: translateY(-8px);
  }
  .select h2 {
    color: #888484;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
  }
}
.remote {
  text-align: center;
  margin-top: 15rem;
}
.remote h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.remote p {
  font-size: 1.2rem;
  width: 60%;
  margin-left: 18rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .remote {
    text-align: center;
    margin-top: 7rem;
    width: 90%;
  }
  .remote h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .remote img {
    width: 100%;
  }
  .remote p {
    font-size: 1rem;
    width: 100%;
    margin-left: 0rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
.Started {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
}

.connect,
.workspace {
  flex: 1;
  width: 40%;
  min-width: 300px;
  text-align: center;
  background-color: #fff;
  padding: 4rem 4rem;
  border-radius: 20px;
}

.connect h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  background-color: #fff;
}
.connect p {
  color: #555;
  font-size: 27px;
  margin-bottom: 3rem;
  background-color: #fff;
}
.connect h4 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 2rem;
}
.connect .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5rem;
  background-color: #fff;
}
.connect .buttons button {
  width: 50%;
  padding: 19px 30px;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10rem;
}
.connect .buttons .gitlab {
  background-color: #fc6d26;
}
.connect .buttons .github {
  background-color: #000;
}
.connect .buttons .bitbucket {
  background-color: #2684FF;
}
.connect .prefix {
  margin-top: 20px;
  color: #555;
  background-color: #fff;
}
.connect .gitpod-url {
  background-color: #f4dbb8;
  padding: 4px 10px;
  border-radius: 6px;
  font-family: monospace;
  padding: 12px 40px;
  font-size: 18px;
}

.workspace h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  background-color: #fff;
}
.workspace p {
  color: #555;
  font-size: 27px;
  margin-bottom: 20px;
  background-color: #fff;
}
.workspace ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #fff;
}
.workspace ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f6f6f6;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #fff;
}
.workspace ul li span {
  font-weight: 500;
  background-color: #fff;
  font-size: 18px;
}
.workspace ul li button {
  background: #000;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 12px;
  font-size: 13px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .Started {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;
    width: 90%;
  }
  .connect,
  .workspace {
    flex: 1;
    width: 100%;
    min-width: 300px;
    text-align: center;
    background-color: #fff;
    padding: 2rem 2rem;
    border-radius: 20px;
  }
  .connect h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    background-color: #fff;
  }
  .connect p {
    color: #555;
    font-size: 20px;
    margin-bottom: 3rem;
    background-color: #fff;
  }
  .connect h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  .connect .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5rem;
    background-color: #fff;
  }
  .connect .buttons button {
    width: 100%;
    padding: 12px 30px;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 0rem;
  }
  .connect .buttons .gitlab {
    background-color: #fc6d26;
  }
  .connect .buttons .github {
    background-color: #000;
  }
  .connect .buttons .bitbucket {
    background-color: #2684FF;
  }
  .connect .prefix {
    margin-top: 20px;
    color: #555;
    background-color: #fff;
  }
  .connect .gitpod-url {
    background-color: #f4dbb8;
    padding: 4px 10px;
    border-radius: 6px;
    font-family: monospace;
    padding: 12px 40px;
    font-size: 18px;
  }
  .workspace h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    background-color: #fff;
  }
  .workspace p {
    color: #555;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #fff;
  }
  .workspace ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
    background-color: #fff;
  }
  .workspace ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f6f6f6;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #fff;
  }
  .workspace ul li span {
    font-weight: 500;
    background-color: #fff;
    font-size: 14px;
  }
  .workspace ul li button {
    background: #000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 8px;
    cursor: pointer;
  }
}
.Think {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem;
}
.Think .Think_box {
  width: 50%;
}
.Think .Think_box h2 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
.Think .Think_box P {
  font-size: 1.5rem;
  color: #888;
  margin-bottom: 7rem;
}
.Think .Think_box .btn1 button {
  padding: 12px 30px;
  transition: all 0.3s ease;
  border-radius: 12px;
  font-size: 1rem;
  border: none;
}
.Think .Think_box .btn1 button:hover {
  transform: translateY(-4px);
}
.Think .Think_box .btn1 button:active {
  transform: translateY(4px);
}
.Think .Think_box .btn1 .button {
  background-color: #ffad33;
}
.Think .Think_box .btn1 .button1 {
  background-color: #ff8ab7;
}

@media screen and (max-width: 600px) {
  .Think {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 8rem;
    width: 90%;
  }
  .Think img {
    width: 100%;
  }
  .Think .Think_box {
    width: 100%;
  }
  .Think .Think_box h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .Think .Think_box P {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 4rem;
  }
  .Think .Think_box .btn1 {
    flex-direction: column;
  }
  .Think .Think_box .btn1 button {
    padding: 12px 30px;
    transition: all 0.3s ease;
    border-radius: 12px;
    font-size: 1rem;
    border: none;
    margin-bottom: 1rem;
    width: 70%;
  }
  .Think .Think_box .btn1 button:hover {
    transform: translateY(-4px);
  }
  .Think .Think_box .btn1 button:active {
    transform: translateY(4px);
  }
  .Think .Think_box .btn1 .button {
    background-color: #ffad33;
  }
  .Think .Think_box .btn1 .button1 {
    background-color: #ff8ab7;
  }
}
.logo_slider {
  width: 100%;
  overflow: hidden;
}

.logo_track {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: logoScroll 25s linear infinite;
  align-items: center;
  padding: 20px 0;
}

.logo_track img {
  height: auto;
  width: auto;
  opacity: 0.8;
  transition: transform 0.3s ease;
}

.logo_track img:hover {
  transform: scale(1.1);
  opacity: 1;
}

@keyframes logoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
footer {
  background-color: #fff;
  width: 100%;
  height: 200px;
  padding: 4rem 4rem;
}
footer div {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
footer .footer_box {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
  background-color: #fff;
}
footer .footer_box img {
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  footer .flex {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 2rem;
  }
  .footer_box {
    font-size: 12px;
    justify-content: center;
  }
  .footer_box {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 12px;
    background-color: #fff;
  }
  .footer_box img {
    background-color: #fff;
  }
}

/*# sourceMappingURL=style.css.map */
