@use'../variable' as*;

.remote {
    text-align: center;
    margin-top: 15rem;

    h1 {
        font-size: $rem3;
        margin-bottom: $rem2;
    }

    p {
        font-size: $rem12;
        width: 60%;
        margin-left: 18rem;
        margin-top: $rem1;
        margin-bottom: $rem2;
    }

}

@media screen and (max-width:600px) {
    .remote {
        text-align: center;
        margin-top: 7rem;
        width: 90%;


        h1 {
            font-size: $rem2;
            margin-bottom: $rem2;
        }
        img{
            width: 100%;
        }
        p {
            font-size: $rem1;
            width: 100%;
            margin-left: 0rem;
            margin-top: $rem1;
            margin-bottom: $rem2;
        }

    }
}